@import "tailwindcss";

.input {
  @apply w-full border border-gray-300 rounded-lg px-3 py-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded-lg transition;
}

.btn-secondary {
  @apply bg-white border border-blue-400 text-blue-600 py-2 px-4 rounded-lg hover:bg-blue-50 transition;
}